sudo: false
language: python

python:
  - "3.4"
  - "3.5"
  - "3.6"

os:
  - linux

#virtualenv:
#  system_site_packages: true

branches:
  only:
  - master
  - dev

before_install:
  - pip install -r requirements-test.txt
  
install:
  - pip install -r requirements.txt

script:
  - pytest --cov=codecov

after_success:
  - codecov
